body {
  background-color: black;
  color: white;
}


:root {
  --laptop-heading-size: 2.5rem;
  --laptop-text-size: 1.125rem;
  --tab-heading-size: 2rem;
  --tab-text-size: 1rem;
  --mobile-heading-size: 1.5rem;
  --mobile-text-size: 1rem;
}

/* CUSTOM FONTS */

@font-face {
  font-family: customFont;
  src: url(./sf-pro-display/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: customFontRegular;
  src: url(./sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}


/* FLEX BOX */

/* FONT SIZES */

h1 {
  font-size: var(--laptop-heading-size) !important;
  background: linear-gradient(to right, #FFFFFF 0%, #9CDDCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: customFont, sans-serif;
}

h2,
h3,
h4 {
  font-family: customFontRegular;
}

p {
  opacity: 70%;
}

p,
ul,
a,
table th,
td {
  font-size: var(--laptop-text-size) !important;
  font-family: customFontRegular;
}




/* js styling */
.activeinput:focus,
input:focus,
button:focus-visible {
  caret-color: white;
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}



/* HOME PAGE STYLING */

.profile-pic {
  color: blue;
  border: solid 10px;
  border-radius: 50%;
}

.form-control {
  linear-gradient (180deg, rgba(0, 81, 63, 1) 78%, rgba(0, 0, 0, 1) 100%);
  padding-left: 2.5rem !important;
}






::placeholder {
  color: white !important;
}

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white;
}

.background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.gradient {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #43c9aa;
  filter: blur(80px);
  position: absolute;
  left: 200px;
  z-index: -1;
}

.hero_image {
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes example {
  0% {
    top: 0px;
  }

  50% {
    top: 25px;
  }

  100% {
    top: 0px;
  }
}

.gradient2 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #43c9aa;
  filter: blur(80px);
  position: absolute;
  left: 250px;
  top: 800px;
}


.g1 {
  position: absolute;
  top: 50px;
  height: 35vw;
  right: 1px;
  z-index: -1;
  width: 45vw;
  opacity: .2;
  left: auto;

}

.profile-icon {
  height: 40px;
  width: 40px;
  background-color: #1ab593;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 3rem;
}

.profile-icon img {
  object-fit: cover;
  border-radius: 50%;
}

.icon {
  height: 40px;
  width: 40px;
  background: linear-gradient(#292929, #292929) padding-box,
    linear-gradient(10deg, rgba(0, 0, 0, 1) 10%, rgba(0, 81, 63, 1) 75%) border-box !important;
  border-radius: 16px !important;
  border: 1.5px solid transparent !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GM1,
.GM2 {
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 60px;
  right: 0px;
  top: 0;
  height: 100%;
  width: 100%;
}


.modal-content {
  overflow: hidden;
  margin: auto 4rem auto auto;
  padding: 2px 20px 2px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 40%;
  /* min-height: 50%; */
  height: 40%;
  min-height: 50%;
  background-color: black;
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
}


.close {
  color: #aaaaaa;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
  z-index: 0;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modalp {
  text-align: center;
  z-index: 0;
  color: white;
}


.GradientM {
  width: 290px;
  height: 63px;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.GM2 {
  top: 135px;
  left: -15px;
  width: 80px !important;
}

.GM1 {
  width: 92px !important;
  height: 130px;
  right: -74px;
  bottom: 66%;
}

.GM3 {
  left: 27%;
  bottom: 167px;
}

/* HEADING SECTION */

.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;

  margin: 8rem 2rem 1rem 4rem;
}

.gradient-overflow {
  overflow: hidden;
}

:hover .nav-link {
  color: white;
}

.Container span {
  color: #00ffc8;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}


.heading p {
  margin: 0 4rem 1rem 0;
}

.myButton {
  box-shadow: inset 2px 3px 3px 0px #fdfffc;
  background-color: #43c9aa !important;
  border-radius: 45px;
  display: inline-block;
  color: #ffffff;
  font-family: customFont;
  font-size: 1rem;
  font-weight: bold;
  padding: 11px 20px;
  text-decoration: none;
  background: none;


}




/*  SECOND SECTION  */

/* card background */

.continer {
  height: 100%;
  width: 319px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;


}

.Gradient {
  width: 170px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.G1,
.G2 {
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);
  bottom: -20px;
  left: 200px;
  opacity: 56%;

}

.G3 {
  background-color: #727272;
  top: 30px;
  left: 90px;
  opacity: 60%;
}

.G4 {
  background-color: #303030;
  top: 110px;
  left: 90px;
  opacity: 80%;
}

.G2 {
  bottom: -55px;
  left: -90px;
}

.Card {
  height: 100%;
  width: 320px;
  padding: 1.5rem .5rem .5rem 1rem;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);




}

/* .. */

/* BACKROUND TABLE */

.gradient-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 16px;
  z-index: -1;
}

.GradientL {
  width: 1000px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.GL1,
.GL2 {
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);



}

.GL4 {
  background-color: #303030;
  top: 123px;
  left: 88px;

}

.GL3 {
  background-color: #727272;
  top: -11px;
  left: -48px;

}

.GL2 {
  bottom: -32px;
  left: 2px;
  width: 80px !important;
}

.GL1 {
  width: 150px !important;
  height: 103px;
  right: -77px;
  bottom: 34%;
}

/* .. */

.second-container {
  position: relative;
  margin-top: 8rem;
}

.S-heading {

  text-align: center;
}



.table-scroll tr td:nth-child(3) {
  color: #1ab593;
}

.table-scroll tr td:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}


.card-header {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}



.Card p {
  display: inline-block;


}

.Card .line-1 p:nth-of-type(2) {
  color: red;
}

.Card .line-1 p:nth-child(1) {
  font-size: 2rem !important;
  font-family: customFont, sans-serif;
  opacity: initial;

}

.line-2 p[style] {
  margin-left: 0px;
  font-family: customFont, sans-serif;
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line-2>p {


  margin: 0 5rem 0 0;

}

.line-2 :nth-child(2) {
  margin-right: 0;
}

.line-1 img {
  margin: 0 0 .3rem .5rem;
}

.Listing-Block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 4.5rem;
}

.table-scroll th {
  padding: 1.3rem 1rem;
}

.Coins {
  margin: 2.5rem 1rem 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .5rem;
}

.listing-box {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2.5rem 0rem 4rem .5rem;
  padding-top: 1.5rem;


}

.listing-box table {
  width: 100%;
}

.underline {
  text-align: center;
  padding-bottom: .5rem;
}

.underline::after {
  content: "";
  display: block;
  margin: 0.5rem auto 0 auto;
  border-radius: 2px;
  height: 3px;
  width: 17%;
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);
}



.gradient3 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #43c9aa;
  filter: blur(80px);
  position: absolute;
  right: 0px;
  opacity: 0.4;
  bottom: 0.1px;
}

/* THIRD SECTION */

.third-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}



.third-section .g2 {
  left: 1px;
  z-index: -1;
}



.form-control1 {
  padding: .6rem 5.5rem .6rem 2.5rem;
  width: 100%;
}

.navFormcontrol {
  padding: .45rem 3rem .45rem 2.5rem;
}

input.form-control1::placeholder {

  opacity: 70%;
}

.Coin-Table td:nth-child(1),
.Coin-Table2 tr td:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}



.spanM {
  background: none;
  color: #00A983 !important;
  -webkit-text-fill-color: initial;
}

.Theader {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0;
}





.Coin-Table {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 3rem;
  overflow: hidden;
  width: 81%;
  overflow-x: scroll;
  scrollbar-width: none;

  -ms-overflow-style: none;
}




th {
  text-align: center;
}



/* fourth section */


/* table background */



.Coin-Table2 {
  position: relative;
  overflow: hidden;

}


.TableScrollWrapper {
  padding: 2rem 2rem 1rem 2rem;
  overflow-y: auto;
  position: relative;
  z-index: 2;
  height: 100%;
  scrollbar-width: none;
}

th,
td {
  padding: 1rem 1rem;
  text-align: center;
  white-space: nowrap;
}






.GradientC {
  width: 1000px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.GC1,
.GC2 {
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);



}

.GC4 {
  background-color: #303030;
  top: 123px;
  left: 88px;

}

.GC3 {
  background-color: #727272;

  left: 113px;
  bottom: -3px;

}

.GC2 {
  top: 95px;
  left: -15px;
  width: 80px !important;
}

.GC1 {
  width: 182px !important;
  height: 220px;
  right: -74px;
  bottom: 46%;
}

/* .. */
.Coin-Table2 {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 3rem auto;
  overflow: hidden;
  width: 81%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}



.Coin-Table2 table,
.Coin-Table table {
  width: 130%;
}


.table-headers th {
  background: linear-gradient(to right, #FFFFFF 0%, #9CDDCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.table-headers span {
  font-size: .6rem;
  color: white;
  margin-right: 0rem;
}

.Fheader {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

button img {
  margin-bottom: .3rem;
  margin-right: .3rem;
}


.Coin-Table-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Coin-Table-nav button {
  padding: 0.3rem .7rem .3rem .7rem;
  color: white;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  min-width: 10%;

}

.input-wrapper {
  position: relative;
  display: inline-block;

}

.input-icon {
  position: absolute;
  top: 32%;
  left: 19px;
}

.btn-gradient-2,
input:focus {
  background: linear-gradient(#292929, #292929) padding-box,
    linear-gradient(10deg, rgba(0, 0, 0, 1) 10%, rgba(0, 81, 63, 1) 75%) border-box !important;
  border-radius: 16px !important;
  border: 1.5px solid transparent !important;
}



.Coin-Table table tr td:nth-child(4),
.Coin-Table2 table tr td:nth-child(4) {
  color: red;
}




.vertical-line {
  height: 55px;

  border-radius: ;
  border-left: 5px dotted #1ab593;
  height: 40px;

  margin: 20px;
}

select {
  padding: 0.3rem .7rem .3rem .7rem;

  color: white;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

select option {
  background-color: #303030;
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}



.Coin-Table-nav .All {

  min-width: 5% !important;


}

.active {

  border: solid 1px #00A983 !important;
  box-shadow: none !important;
}


.active span {
  background: -webkit-linear-gradient(#ddf4f0, #1ab593);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* FIFTH SECTION */

/* FEATURE CARD BACKGROUND */



.GradientF {
  width: 300px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.GF1 {
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);



}

.GF4 {
  background-color: #303030;
  top: 123px;
  left: 88px;

}

.GF3 {
  background-color: #727272;
  top: -11px;
  left: 20%;
  opacity: 50%;
}


.GF1 {
  width: 100px !important;
  right: 1px;
  bottom: -20%;
}

/*   */


.Fiheader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.Fiheader h4 {
  width: 57%;
}





.Fcard h4 {
  margin-top: .5rem;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: customFont;
}

.Feature-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Fcard {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2rem;
  padding: 1rem;
  overflow: hidden;
}


.Fcard img {
  margin-bottom: .3rem;
}

.C4 {
  grid-column-start: -3;
  margin-top: 0rem;
}

.C1 {
  position: relative;
  top: 8rem;
  left: 2.5rem;
}

.C2 {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.C3 {
  position: relative;
  top: 8rem;
  right: 2.5rem;
}

/* SIXTH SECTION */

/* ledger background */




.GradientL {
  width: 1000px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.GL1 {
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);

}

.GL4 {
  background-color: #303030;
  top: 123px;
  left: 88px;

}

.GL3 {
  background-color: #727272;
  bottom: -32px;
  left: 101px;

}


.GL1 {
  width: 80px !important;
  right: -26px;
  bottom: 39%;
}

/* .. */

.Sixth-Section {
  margin-top: 2rem;
  position: relative;
}

.Sheader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Ledger-Section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2rem;



}


.LC-section a img {
  width: auto !important;
  margin-left: .2rem;
}

.LC-section h4 {
  font-weight: bold;
}

.LedgerCard,
.LedgerFullCard {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1rem;
  overflow: hidden;
}

.LC {
  background: url(./images/icons/LEDGER-CARD/Rectangle\ 828182.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.LFC {
  margin-left: 1rem;
  padding-left: 1.2rem !important;
}

.LFC h4 {
  font-size: 3rem;
  font-family: customFontRegular !important;
  font-weight: normal;
  opacity: .7;
  -webkit-text-stroke: 1px #979797;
}

.LedgerCard img {
  width: 100%;
}

.LC-section {
  padding: 1rem 1rem 1.5rem 1.5rem;
  position: relative;
  overflow: hidden;
}





.LedgerCard a {
  text-decoration: none;
  background: -webkit-linear-gradient(#ddf4f0, #1ab593);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g3 {
  left: auto !important;
  top: 800px;
  opacity: 0.5;
}

.g4 {
  right: 50px;
  top: 450px;
  opacity: 0.5;
  left: auto !important;
}

/* Seventh Section */

/* GetStarted-Section  background*/

.GradientWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.GradientS {
  width: 1000px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.GS1,
.GS2 {
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);



}

.GS4 {
  background-color: #303030;
  top: 123px;
  left: 88px;

}

.GS3 {
  background-color: #727272;
  top: -11px;
  left: 101px;

}

.GS2 {
  bottom: -32px;
  left: 2px;
  width: 80px !important;
}

.GS1 {
  width: 80px !important;
  right: 1px;
  bottom: 34%;
}

/* .. */


.Seventh-section {
  margin: 8rem 2.5rem 6rem 2.5rem;
  position: relative;
}


.g5 {
  left: 0px !important;
  opacity: 0.5;
}

.GetStarted-Section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1rem;
  padding: 1rem 1rem 0 1rem;
}

.main-img {
  position: absolute;
  bottom: 25px;
  right: 1px;

}

.GetStarted-Section h2 {
  font-size: 3rem;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.GetStarted-Section .first-half {
  margin: 1rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}





/**/


/* FOOTER SECTION */

.footer-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  padding: 2.5rem 1rem 1rem 2.5rem;
  background: black;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.footer-section li {
  margin: 0.5rem;
  list-style-type: none;
}

.fp1 {
  align-items: normal;
  /* width: 73%; */
}


.fp-li {
  font-weight: bold;

  margin-bottom: 1rem !important;
}


footer {
  position: relative;
  overflow: hidden;
}

.fp4 ul {
  display: flex;
  flex-direction: column;
}





.logo {
  width: 165px !important;
  height: auto !important;
}

.icon-div {
  height: 35px;
  width: 35px;
  background: linear-gradient(#292929, #292929) padding-box,
    linear-gradient(10deg, rgba(0, 0, 0, 1) 10%, rgba(0, 81, 63, 1) 75%) border-box !important;
  border-radius: 16px !important;
  border: 1px solid transparent !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .3rem;
}

.footer-icon {
  display: flex;
  align-items: center;

}







/* footer background */


.GradientFF {
  width: 1000px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  filter: blur(40px);
}

.GFF1,
.GFF2 {
  background: #00A983;
  background: linear-gradient(90deg, rgba(0, 169, 131, 1) 0%, rgba(182, 255, 239, 1) 99%);



}

.GFF4 {
  background-color: #303030;
  top: 123px;
  left: 88px;
  opacity: 50%;
}

.GFF3 {
  background-color: #727272;
  top: -11px;
  left: 101px;

}

.GFF2 {
  bottom: -32px;
  left: 2px;
  width: 80px !important;
}

.GFF1 {
  width: 80px !important;
  right: 1px;
  bottom: 34%;
}

/* .. */







/* FOR MOBILE */
@media (max-width: 480px) {
  .background-image {
    top: 271px;
  }



  /* NAVBAR */
  .sm-2 {
    width: 30%;
  }



  .navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .ms-auto {
    margin-left: initial !important;
    margin-top: 2rem;
    text-align: center;
  }

  .ms-auto a {
    font-size: var(--mobile-text-size) !important;
  }

  .icon,
  .profile-icon,
  .profile-icon img {
    height: 30px;
    width: 30px;
    order: -1;
    margin: 0 !important;
    position: absolute;
  }

  .icon {
    top: 1px;
    right: 17px;
  }

  .profile-icon {
    top: 1px;
    right: 52px;
  }

  .icon img {
    width: 12px;
  }


  /* FIRST SECTION */
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    margin-top: 3rem;
  }

  .heading {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

  }



  .myButton {
    font-weight: normal;
    padding: 6px 9px;

  }

  .heading p {
    text-align: center;
    margin: .5rem auto;
  }

  .hero_image {
    width: 40%;
  }

  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient {
    height: 80%;
    width: 80%;

    left: auto;
    opacity: 0.5;
  }

  /* second section */


  .second-container {
    margin: .5rem;
    margin-top: 3rem;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .table-scroll {
    overflow-y: auto;
    max-height: 220px;
    scrollbar-width: none;
  }

  .table-scroll th {
    padding: 1rem 1rem;

  }

  .continer {
    height: initial;
    width: 150px;
  }

  .Listing-Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line-1 img {
    margin: auto;
  }

  .Coins {
    grid-template-columns: 1fr 1fr;
    margin: .5rem 2rem;
  }

  .card-header img {
    width: 20%;
    height: 20%;
  }

  .card-header h4 {
    font-weight: bold;
    margin-bottom: 0 !important;
  }

  .Card .line-1 p:nth-child(1) {
    font-size: 1.1rem !important;
    margin: -8px 2px;
    font-weight: bold;
  }

  .Card p {
    margin-bottom: 0;
  }

  .Card {
    height: 100%;
    width: 100%;
    padding: 1rem .5rem
  }

  .line-1 p[style] {
    font-size: 0.5rem;
  }

  .line-2 p[style] {
    font-size: 0.5rem;
    font-weight: unset;
  }

  .line-2 p {

    margin: 0 0 0 0 !important;
  }

  .gradient2 {
    left: auto;
    opacity: 0.5;
    height: 100%;
    width: 75%;
    top: 1000px;
  }

  .listing-box {
    margin-top: 32px;
    height: 100%;
    margin-bottom: 1rem;
    overflow-y: scroll;
    padding-top: .5rem;

  }

  .underline {
    padding-bottom: 0;
  }


  .listing-box table {
    width: 250px;
    height: 250px;
    overflow-y: scroll;

  }

  .listing-box img {
    height: 15px;
    width: 15px;
  }

  .listing-box h3 {
    font-size: 1rem !important;
  }


  /* THIRD SECTION */

  .TableScrollWrapper {
    padding: 1rem 1rem 1rem 1rem;
  }

  .Theader {
    margin: 1rem 0 auto;
  }

  .Theader div {
    margin: auto;
  }

  .Theader h4 {
    font-size: 0.5rem;
  }

  .Coin-Table,
  .Coin-Table2 {
    margin: 1rem 1rem 1rem 1rem;
    overflow-x: scroll;
    width: 300px;
  }


  .form-control1 {
    width: 55%;
    font-size: 0.5rem;

  }




  .third-section {
    margin: .5rem;
    margin-bottom: auto;
  }

  table {
    width: max-content;

  }

  .table-headers span {
    font-size: 0.3rem;
    color: white;
    margin-right: .2rem;
  }

  th,
  td {
    padding: 0.6rem 0.6rem;
    text-align: center;
    white-space: nowrap;
  }


  td img {
    height: 50%;
    width: 50%;

  }

  .form-control1 {
    padding: .4rem 2.5rem .4rem 1.5rem;
    width: 100%;
  }


  /* FOURTH SECTION */
  .fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .5rem;
  }


  .Fheader {
    margin-bottom: 1.5rem;
  }

  .Fheader h4 {
    font-size: 0.5rem;
  }

  .Coin-Table-nav {

    flex-wrap: wrap;
    margin: 0rem;
  }

  .vertical-line {
    all: unset;
    display: none;
  }

  .Coin-Table2 {
    overflow-x: scroll;
    margin: 1rem 0 1rem;
  }


  th img {
    width: 10px;
  }

  .Coin-Table-nav button {
    margin: .1rem .2rem .2rem .2rem !important;
    font-size: 0.5rem;
    /* width: 20%; */
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 12%;
  }

  button img {
    width: 10px;
    margin: 0;
  }

  select {
    font-size: 0.5rem;
    width: 50%;
    margin-top: .1rem;
    margin-left: initial;
    margin-bottom: initial;
  }


  .Coin-Table-nav .All {

    min-width: 14% !important;
    margin: 0;
  }

  .Fheader div {
    margin-bottom: 0;
  }

  .input-icon {
    position: absolute;
    top: 38%;
    left: 13px;
    width: 7%;
  }

  /* fifth section */
  .Fifth-Section {
    margin: .5rem;
  }

  .Feature-card img {
    width: 50%;
    height: 50%;
  }

  .Fiheader h4 {
    width: auto;
    font-size: 1rem;
  }

  .Feature-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .C1,
  .C2,
  .C3,
  .C4 {
    position: unset;
    margin: 1rem;
  }

  .Fcard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-width: 40%;
    min-height: 40%;
    padding: .5rem;
    margin: .5rem;
  }

  .Fcard h4 {
    font-size: 1rem !important;
  }

  .Fcard p,
  h4 {
    margin-bottom: .5rem;
  }

  /* SIXTH SECTION */
  .Sheader p {
    font-size: 0.6rem;
    text-align: center;
  }

  .Sheader {
    text-align: center;
  }

  .Ledger-Section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    margin: 0.5rem;
  }

  .LedgerCard,
  .LC {
    margin: .5rem;
    border-radius: 26px;
  }

  .LC-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;

  }

  .LC-section h4 {
    font-size: 1rem !important;

  }

  .LC-section p {
    margin-bottom: 0;
    font-size: 0.5rem;
  }

  .LC-section a {
    font-size: 0.5rem;
  }

  /* a img {
    width: 20% !important;
    margin-left: .1rem;
    margin-bottom: .1rem;
  } */

  .LC {

    justify-content: center;
  }

  .LedgerFullCard h4 {
    font-size: 2rem !important;
  }

  .LFC {
    margin: auto;
    padding: 0.1 !important;
  }

  /* SEVENTH SECTION */
  .Seventh-section {
    margin: 2rem 1rem;
  }



  .first-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .GetStarted-Section {
    padding: .5rem;
    margin: unset;

    text-align: center;
    display: inherit;
  }

  .mainimg-section {

    text-align: center;

  }

  .main-img {
    position: static;

    margin-top: .5rem;
    width: 25%;
  }

  .GetStarted-Section .first-half {
    margin: 0;

  }

  .first-half p {
    margin-bottom: .2rem;
  }

  /* FOOTER SECTION */
  .footer-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0;
  }

  .fp1 {
    margin-left: 0 !important;
  }



  .logo {
    width: 40% !important;
    margin-bottom: .5rem !important;
  }

  .footer-part ul {
    padding-left: 0;
    margin: 0.3rem;
  }

  .footer-part ul li:nth-child(1) {
    margin-bottom: .5rem !important;
  }

  .footer-part {
    align-items: unset;
    margin-bottom: 0.4rem;
  }

  .fp1 {
    margin-left: auto;
  }

  .footer-part ul li {
    margin: unset !important;

  }

  .footer-icon img {
    margin-bottom: unset !important;
    height: 100% !important;
    width: 100% !important;
  }

  .fp1 p {
    margin-bottom: 0.3rem;
    /* width: 50%; */
  }

  .icon-div {
    height: 25px;
    width: 25px;
    padding: .2rem .2rem .3rem .2rem;
  }



  .fp-li {
    font-weight: bolder;
  }









  /* font sizes */
  h2,
  h3,
  h4 {
    font-size: 1rem !important;
  }

  h1 {
    font-size: var(--mobile-heading-size) !important;
    margin-bottom: 0;
  }

  p {
    font-size: var(--mobile-text-size) !important;
  }

  p,
  table th {
    font-size: var(--mobile-text-size) !important;
    font-family: customFontRegular !important;
  }

  h2,
  h3,
  h4 {
    font-family: customFontRegular;
  }

  td,
  a,
  ul {
    font-size: .9rem !important;
    font-family: customFontRegular !important;
  }


}

/* FOR TAB */
@media (min-width:481px) and (max-width: 770px) {
  .background-image {
    top: 271px;
  }


  /* navbar */

  .navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .ms-auto {
    margin-left: initial !important;
    margin-top: 2rem;
    text-align: center;
  }

  .ms-auto a {
    font-size: var(--tab-text-size) !important;
  }

  .icon,
  .profile-icon,
  .profile-icon img {
    height: 35px;
    width: 35px;
    order: -1;
    margin: 0 !important;
    position: absolute;
  }

  .icon {
    top: 1px;
    right: 17px;
  }

  .profile-icon {
    top: 1px;
    right: 55px;
  }

  .icon img {
    width: 12px;
  }


  /* FIRST SECTION */
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    margin-top: 3rem;
  }

  .heading {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

  }


  .myButton {
    font-weight: bold;
    font-size: .8rem;
    padding: 7px 19px;
  }

  .heading p {
    text-align: center;
    margin: .5rem auto;
  }

  .hero_image {
    width: 70%;
  }

  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient {
    height: 80%;
    width: 80%;

    left: auto;
    opacity: 0.5;
  }

  /* second section */


  .second-container {
    margin-top: 3rem;
  }


  h2 {
    margin-bottom: 0;
  }

  .table-scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 285px;
  }

  .table-scroll th {
    padding: 1rem 1rem;

  }

  .Listing-Block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }



  .continer {
    height: initial;
    width: 200px;
  }


  .line-1 img {
    margin: auto;
  }

  .Coins {
    grid-template-columns: 1fr 1fr;

    margin: .5rem 0;
  }

  .card-header img {
    width: 20%;
    height: 20%;
  }

  .card-header h4 {
    margin-bottom: 0;
    font-weight: bold;
  }

  .Card .line-1 p:nth-child(1) {
    font-size: 1.2rem !important;
    font-weight: bold;
  }

  .Card p {
    margin: auto;
  }

  .Card {
    height: 100%;
    width: 100%;
    padding: 1rem .5rem
  }

  .card-header {
    margin-bottom: .3rem;
  }

  .line-1 p[style] {
    font-size: 0.5rem;
  }

  .line-2 p[style] {
    font-size: 0.5rem;
    font-weight: unset;
  }

  .line-2 p {
    margin: 0 0 0 0 !important;
  }

  .gradient2 {
    left: auto;
    opacity: 0.5;
    height: 100%;
    width: 75%;
    top: 1000px;
  }

  .listing-box {
    margin-top: .5rem;
    height: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }

  .listing-box h3 {
    font-size: 1rem !important;
  }



  .listing-box table {
    min-width: 390px;
    min-height: 310px;
    overflow-y: scroll;

  }

  .listing-box img {
    height: 20%;
    width: 20%;
  }

  /* THIRD SECTION */

  .TableScrollWrapper {
    padding: 1rem 1rem 1rem 1rem;
  }

  .Theader {
    margin-top: 1rem;
    margin-bottom: auto;
  }

  .Theader div {
    margin: auto;
  }

  .Theader h4 {
    font-size: 0.5rem;
  }

  .Coin-Table2,
  .Coin-Table {
    margin: 1rem;

    width: 100%;
  }



  .third-section {
    margin: .1rem 4rem;
  }

  table {
    width: max-content;

  }

  .table-headers span {
    font-size: 0.3rem;
    color: white;
    margin-right: .2rem;
  }

  th,
  td {
    padding: 1rem 0.8rem;
    text-align: center;
    white-space: nowrap;
  }


  td img {

    width: 30px;

    height: 30px;
  }

  .input-icon {
    position: absolute;
    top: 29%;
    left: 14px;
    width: 8%;
  }

  .form-control1 {
    padding: .4rem 1.3rem .4rem 2rem;
    font-size: .85rem;


  }



  /* FOURTH SECTION */
  .fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: .1rem 2.5rem;
  }


  .Fheader {
    margin-bottom: .5rem;
  }

  .Fheader h4 {
    font-size: 0.5rem;
  }

  .Coin-Table-nav {

    flex-wrap: wrap;
    margin: 1rem;
  }

  .vertical-line {
    all: unset;
    display: none;
  }



  tr {
    font-size: 0.5rem;
  }

  th img {
    width: 10px;
  }

  .Coin-Table-nav button {
    margin: .1rem .2rem .2rem .2rem !important;
    font-size: 0.5rem;
    min-width: 20%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  button img {
    width: 10px;
    margin: 0 !important;

  }

  select {
    font-size: 0.5rem;
    min-width: 20%;
    margin: .1rem .2rem .2rem .2rem !important;
  }


  .Coin-Table-nav .All {
    min-width: 20% !important;
    margin: 0;
  }

  .Fheader div {
    margin-bottom: 0;
  }


  /* fifth section */

  .Feature-card img {
    width: 70%;
    height: 70%;
  }

  .Fiheader h4 {
    width: auto;
  }

  .Fiheader {
    margin: 0 1rem;
  }

  .Fcard h4 {
    font-size: 1rem !important;
  }

  .Fcard p {
    font-size: .6rem;
  }

  .Feature-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .C1,
  .C2,
  .C3,
  .C4 {
    position: unset;
    margin: 1rem;
  }

  .Fcard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    padding: .5rem;
    margin: .5rem;
  }

  .Fcard p {
    margin-bottom: .5rem;
  }

  /* SIXTH SECTION */

  .Sixth-Section {
    margin: .5rem;
  }

  .Sheader p {
    text-align: center;
  }

  .Sheader {
    margin: 0 1.5rem;
    text-align: center;
  }

  .Ledger-Section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    margin: 2rem;
  }

  .LedgerCard {

    margin: .5rem;
    /* height: 150px;
    width: 150px; */
    border-radius: 26px;

    /* margin-left: 2.5rem; */
  }

  .LC-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;

  }

  .LFC {
    margin: auto;
    padding: initial !important;
  }

  .LC-section h4 {
    font-size: 1rem !important;
    margin-bottom: .2rem;
  }

  .LC-section p {
    margin-bottom: 0;
    font-size: 0.5rem;
  }

  .LC-section a {
    font-size: 0.5rem;
  }

  /* a img {
    width: 20% !important;
    margin-left: .1rem;
    margin-bottom: .1rem;
  } */

  .LC {
    margin: .5rem;

    /* height: 150px;
    width: 150px; */
    border-radius: 26px;
    justify-content: center;

  }

  .LC h4 {
    font-size: 1rem !important;
  }

  /* SEVENTH SECTION */
  .Seventh-section {
    margin: 5rem 1rem 2rem 1rem;
  }


  .first-half h1 {
    font-size: 1.5rem !important;
  }

  .GetStarted-Section {
    padding: unset;
    margin: unset;
  }

  .main-img {
    position: absolute;
    bottom: 1px;
    margin-left: auto;
    width: 20%;
    right: 15px;
  }

  .GetStarted-Section .first-half {
    margin: 1rem;
  }

  /* FOOTER SECTION */

  .footer-section {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fp1 {
    margin-left: .5rem;
  }



  .logo {
    width: 20% !important;
  }

  .footer-icon img {
    margin-bottom: unset !important;
    height: 100% !important;
    width: 100% !important;
  }

  .fp1 p {
    margin-bottom: 0.3rem;

  }

  .icon-div {
    height: 30px;
    width: 30px;
    padding: .2rem .2rem .3rem .2rem;
  }

  .footer-part ul {
    font-size: 0.8rem;
  }

  .fp-li {
    font-weight: bolder;
  }






  /* font sizes */
  h2,
  h3,
  h4 {
    font-size: 1.3rem !important;
    font-family: customFontRegular;
  }

  h1 {
    font-size: var(--tab-heading-size) !important;
    margin-bottom: 0;
  }

  p {
    font-size: var(--tab-text-size) !important;
  }

  p,
  table th {
    font-size: var(--tab-text-size) !important;
    font-family: customFontRegular !important;
  }



  td,
  a,
  ul {
    font-size: .85rem !important;
    font-family: customFontRegular !important;
  }




}


@media (min-width:771px) and (max-width: 991px) {
  
.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.ms-auto {
  margin-left: initial !important;
  margin-top: 2rem;
  text-align: center;
}

.ms-auto a {
  font-size: var(--laptop-text-size) !important;
}

.icon,
.profile-icon,
.profile-icon img {
 
  order: -1;
  margin: 0 !important;
  position: absolute;
}

.icon {
  top: 1px;
  right: 17px;
}

.profile-icon {
  top: 1px;
  right: 60px;
}

}


/* 768px – 1050px */
@media (min-width:771px) and (max-width: 1050px) {
  .background-image {
    top: 271px;
  }

/* navbar */





  /* FIRST SECTION */


  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem 1rem 2rem;
  }

  .heading p {
    margin-right: 0;
  }

  .heading {
    text-align: center;
    order: -1;
  }

  .g1 {
    right: 25%;
    top: -41px;
  }

  .gradient {

    width: 40vw;
    left: auto;
    opacity: 0.5;
  }

  /* second section */


  .second-container {
    margin-top: 3rem;
  }

  h2 {
    margin-bottom: 0;
  }



  .Listing-Block {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 2.5rem;
  }




  .gradient2 {
    left: auto;
    opacity: 0.5;
    height: 100%;
    width: 75%;
    top: 1000px;
  }

  .listing-box {
    margin-top: .5rem;
    height: 100%;
    margin-bottom: 1rem;
    padding-top: 1rem;
    min-width: 420px;
    width: 100%;
  }







  /* FOURTH SECTION */


  .fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }


  .Fheader div {
    margin-bottom: 0;
  }


  /* fifth section */

  .Feature-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .Fcard {
    position: static;
    margin: 1rem 10rem;
    text-align: center;

  }


  .Ledger-Section {

    grid-template-columns: 1fr 1fr;

  }

  .LFC h4 {
    font-size: 3.5rem !important;

  }

  .first-half h1 {
    font-size: 2rem !important;
  }

  /* sixth section */
  .LC-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  /* footer */
  .icon-div {
    height: 35px;
    width: 35px;
  }

  h2,
  h3,
  h4 {
    font-size: 1.8rem !important;
    font-family: customFontRegular;
  }

  h1 {
    font-size: 2.3rem !important;
    margin-bottom: 0;
  }

  p {
    font-size: 1.1rem !important;
  }

  td,
  a,
  ul {
    font-size: 1rem !important;
    font-family: customFontRegular !important;
  }


}




/* BLOG PAGE */

/* HEADER */

.Blog-header {
  display: flex;
  margin: 6rem 3rem 3rem 3rem;
}


.HotTopic-button {
  border-radius: 50px;
  display: inline-block;
  color: #ffffff;
  font-family: customFont;
  font-size: .8rem;
  padding: 8px 30px;
}

.HotTopic-button a {
  text-decoration: none;
  color: white;
}

.btn-gradient-3 {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 78%, rgba(0, 81, 63, 1) 100%) padding-box,
    linear-gradient(280deg, rgba(0, 0, 0, 1) 10%, rgba(0, 81, 63, 1) 75%) border-box;
  border: 1.5px solid transparent;

}

.readNowButton {
  box-shadow: none;
  border-radius: 16px;
  padding: 11px 17px;
  font-weight: normal;
}

.readNowButton a {
  background: #FFFFFF;
  background: linear-gradient(to right, #FFFFFF 0%, #9CDDCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Blog-header-Left {
  margin-right: 8rem;
}

.Blog-header-Left p {
  margin-top: 1rem;
}

.Blog-header-Left h1 {
  font-size: 3rem;
}

.Blog-header-Left img {
  margin-right: .8rem;
}

.btn-gradient-2 img {
  margin: auto;
  vertical-align: text-bottom;
}


/* HOT TOPIC SECTION */

.hotTopicSection {
  margin-bottom: 3rem;

}

.HotTopic-Header {
  margin-left: 3rem;
}

.BlogLedger-Section {
  margin: 1rem;
  position: relative;
}


.laodmore-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .modal-content {
    margin: auto !important;
  }
}

@media (max-width: 480px) {
  .Blog-header {
    flex-direction: column;
    text-align: center;
    margin: 1.5rem auto;
  }

  .Blog-header-Left {
    margin: auto .5rem;
    margin-bottom: 2rem;

  }

  .blog-main-img {
    width: 85%;
  }

  .blogledgercard {
    margin-bottom: 1rem;

  }

  .HotTopic-button {
    font-size: 0.6rem;
    padding: 4px 25px;
    margin-bottom: .5rem;
  }

  /* .link-icon{
          width: auto !important;
           } */
  .readNowButton {
    padding: 6px 10px;
  }

  .readNowButton img {
    vertical-align: middle;
    width: 20% !important;
  }

  /* .Blog-header-Left img {
    width: 5.5% !important;
  } */

  .btn-gradient-2,
  .btn-gradient-3 {
    border: 1px solid transparent;
  }

  .BlogLedger-Section {
    
    margin: .5rem;
  }
}

/* FOR TAB */
@media (min-width:481px) and (max-width: 770px) {

  .link-icon {
    width: auto !important;
  }

  .blogledgercard {
    margin-bottom: 1rem;
  }

  .Blog-header {
    flex-direction: column;
    text-align: center;

    margin: 2.5rem 0rem 3rem 0rem;
  }



  .Blog-header-Left {
    margin: auto 1rem 2rem 1rem;

  }

  .blog-main-img {
    margin: auto 1rem;
    width: 90%;
  }

  .BlogLedger-Section {
    margin: 1rem;
  }

  .HotTopic-Header h2 {
    font-size: 2rem !important;
    margin-bottom: 1rem;
  }


  .HotTopic-Header {
    display: flex;
    justify-content: center;
  }
}

/* 768px – 1050px */
@media (min-width:770px) and (max-width: 1050px) {
  .Blog-header {
    flex-direction: column;
    text-align: center;
    margin-top: 2.5rem;
  }

  .Blog-header-Left {
    margin: auto;
    margin-bottom: 2rem;
  }

  .HotTopic-Header {
    display: flex;
    justify-content: center;

  }
}

/* README BLOG2 PAGE */

.Article-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */

}

.top-image {
  width: 100%;
}

.Article-secondpart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem 0rem 1rem 2rem;
}

.blog-icons img {
  margin-right: .8rem;
}

.heading-part h2 {
  font-size: 1.6rem;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  background-color: #00A983;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.blog-footer p {
  margin: auto;
}

.date {
  font-size: .8rem;
}

.heading-part {
  margin-bottom: 3rem;
}


.Article-secondpart h3 {
  font-family: customFont;
}

.Related-article-section h3 {
  font-family: customFont;
}

.Related-article-section h3 {
  margin-left: 2rem;
}

.articleledger {
  grid-template-rows: 1fr;

  margin: 2rem 1rem 3rem 1rem;
}

.side-panel th {
  text-align: start;
  font-size: 1.5rem;
}

.side-panel td {
  font-size: .7rem;
  font-weight: bold;
  text-align: start;
  padding: 0.8rem 1rem;
}

.side-panel {
  margin: 0 0 0 auto;
}


.side-panel td:hover {
  color: #00ffc8;
  border-left: 2px solid #00ffc8;
  cursor: pointer;
}


@media (max-width: 480px) {
  .top-image {
    width: 95%;
  }

  .Article-section h4 {
    font-size: 1rem !important;
    font-weight: bold;
  }

  .Article-firstpart {
    text-align: center;
  }

  .articleledger .LedgerCard {
    margin: .5rem .5rem .5rem .5rem;

  }

  .Article-section {
    display: block;
  }

  .Article-secondpart {
    grid-template-columns: 1fr;
    margin: .5rem;
  }

  .Article-section h2,
  h3 {
    font-size: 1.5rem !important;
  }

  .Related-article-section h3 {
    margin: auto;
  }

  .blog-img img {
    width: 90%;
  }

  .blog-img {
    text-align: center;
  }

  .blog-icons img {
    width: 10% !important;
    margin-right: 1rem;
    margin-top: .5rem;
  }


  .icons-part img {
    width: 5.5% !important;
  }

  .blog-icons2 {
    display: flex;
    justify-content: center;
  }

  .blog-footer {
    padding: .5rem;
    justify-content: center;
    flex-direction: column;
  }

  .side-panel {
    margin: initial;
    display: flex;
    justify-content: center;
  }

  .side-panel th {
    font-size: 1rem;
    text-align: center;

  }

  .date {
    font-size: .6rem;
  }

  .heading-part {
    margin-bottom: 1rem;
  }

  .side-panel td {
    font-size: .5rem;
    font-weight: normal;
    padding: .5rem;
    text-align: center;
  }

  .Related-article-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: var(--mobile-heading-size) !important;
  }

  p {
    font-size: var(--mobile-text-size) !important;
  }
}

@media (min-width:481px) and (max-width: 770px) {

  .Article-section {
    display: block;
  }

  .Article-secondpart {
    grid-template-columns: 1fr;
    margin: 2rem 2rem 1rem 2rem;
  }

  .top-image {
    width: 95%;
  }


  .side-panel {
    margin: initial;
  }

  .blog-img {
    text-align: center;
  }

  .side-panel td,
  th {
    padding-left: 0;
    font-weight: normal;
    text-align: center;
  }

  .Related-article-section h3 {
    margin-left: 2rem;
  }

  .Related-article-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Article-section h2,
  h3 {
    font-size: 1.5rem !important;
  }

  .blog-img img {
    width: 100%;
  }

  .blog-icons img {
    width: 15% !important;
    margin-right: .4rem;
  }

  .Article-firstpart {
    text-align: center;
  }

  .Article-secondpart {
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  .heading-part {
    margin-bottom: 2rem;
  }

  .icons-part img {
    width: 3% !important;
  }

  .icons-part img {
    margin: .5rem .5rem .5rem 0;

  }

  .blog-icons2 {
    display: flex;
    justify-content: end;
  }

  .blog-footer {
    padding: 1rem;
  }

  .side-panel {
    margin: initial;
    display: flex;
    justify-content: center;
  }

  .side-panel th {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }

  .Article-section h4 {
    font-size: 1.5rem !important;
    font-weight: bold;
  }

  h1 {
    font-size: var(--tab-heading-size) !important;
  }

  p {
    font-size: var(--tab-text-size) !important;
  }
}

@media (min-width:770px) and (max-width: 1130px) {
  .top-image {
    width: 95%;
  }







  .blog-img {
    text-align: center;
  }

  .Article-firstpart {
    text-align: center;
  }

  .Article-secondpart {
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  .side-panel {
    margin: initial;
  }

  .blog-img {
    text-align: center;
  }

  .side-panel th {

    text-align: center;
    font-weight: bold;

  }

  .side-panel td,
  th {
    padding-left: 0;
    font-weight: normal;
    text-align: center;

  }

  .Related-article-section h3 {
    margin-left: 2rem;
  }

  .Related-article-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .side-panel {
    margin: initial;
    display: flex;
    justify-content: center;
  }

  .Article-section h2,
  h3 {
    font-size: 2rem !important;
  }

  h1 {
    font-size: var(--laptop-heading-size) !important;
  }

  p {
    font-size: var(--laptop-text-size) !important;
  }
}